@font-face {
    font-family: 'DSEG7';
    src: url('fonts/DSEG7Classic-Bold.woff') format('woff');
}

html{
    display: flex;
    min-height: 100vh; /* 100% Full-height */
}

body{
    margin: auto;
    width: 100vw;
    max-width: 960px;
    background-color: #303e4c;
}

.outercon{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 150px;
    gap: 30px;
}

#titlecontainer{
    margin:auto;
    grid-column: 1 / -1;
}

#titlecontainer *{
    font-family: DSEG7;
    font-size: 100px;
}

#title_fg{
    color: #f04637;
    position: absolute;
}

#title_bg{
    color: red;
    opacity: 0.2;
}

.projectcon{
    margin: auto;
    border-radius: 30px;
    height: 600px;
    width: 300px;
    background-color: #8796a5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.projectimg{
    display: block;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 250px;
    object-fit: cover;
}



.projtitle{
    background-color: #d8dee4;
    color: #f04637;
    text-align: center;
    width: 100%;
    height: 60px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: xxx-large;
    display: none;
}

.demo{
    display: block;
    background-color: #f04637;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    width: 150px;
    margin: auto;
    margin-top: 10px;
}

.github {
    display: flex;
    background-color: #24292e;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    width: 200px;
    margin: auto;
    margin-top: 10px;
    height: 50px;
}

.github *{
    display: flex;
    margin:auto;
}

.github p{
    margin-left: 10px;
}




