@font-face {
    font-family: 'DSEG7';
    src: url('fonts/DSEG7Classic-Bold.woff') format('woff');
}

html{
    display: flex;
    min-height: 100vh; /* 100% Full-height */
}

body{
    margin: auto;
    width: 1110px;
    background-color: #29333d; /*303e4c*/
}

.outercon{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: 150px;
    gap: 30px;
}

#titlecontainer{
    margin:auto;
    grid-column: 1 / -1;
}

#titlecontainer *{
    font-family: DSEG7;
    font-size: 100px;
}

.title_fg{
    color: #f04637;
    position: absolute;
}

.title_bg{
    color: red;
    opacity: 0.2;
}

.projectcon{
    margin: auto;
    border-radius: 30px;
    height: 700px;
    width: 350px;
    background-color: #505962; /*#4f5964 #57626e   #d8dee4*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-auto-rows: 230px 35px 375px 60px;
}

.flex {
    display: flex;
}

.projectimg{
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    object-position: top;
}

#rnnbuilder .projectimg{
    background-color: white;
    display: flex;
}

#rnnbuilder .projectimg img {
    width: 95%;
    margin: auto;
}

.projtitle{
    display: block;
    background-color: #f04637;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 30px;
    line-height: 35px;
}


.demo{
    display: block;
    background-color: #f04637;
    color: white;
    #padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    width: 135px;
    margin: 5px auto auto 5px;
    line-height: 40px;
}

.github {
    display: flex;
    background-color: #24292e;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    width: 135px;
    margin: 5px 5px auto auto;
    height: 40px;
}

#ataricon .github {
    width: 270px;
    margin: 5px auto auto auto;
}

.github img {
    height: 22px;
}

.github *{
    display: flex;
    margin:auto;
}

.github p{
    margin-left: 10px;
}

.pipins {
    display: flex;
    margin: 10px auto auto;
    width: 280px;
}

.pipins *{
    vertical-align: top;
}

.pipins img {
    height: 20px;
    width: 20px;
}

.pipinner {
    display: block;
    color: white;
    font-family: Source Code Pro, monospace;
    font-weight: 500;
    font-size: 16.5px;
    background-color: #006dad;/*rgba(0, 0, 0, .15);*/
    padding: 9px;
    border: 1px dotted hsla(0, 0%, 100%, 1);
    line-height: 20px;
}

#instruction {
    border-right: none;
    width: 100%;
}

#copybttn:focus {
    outline: initial;
}

#copybttn:active {
    border: 1px solid;
}

#copybttn:hover{
    background-color: #00588c;
}

ul {
    color: white;
    padding: 0 35px;
    font-size: 16px;
    /*text-align: justify;*/
}
li {
    padding: 2px 0;
}

.mobile {
    display: none;
}

@media (max-width: 1110px) {
    .outercon{
        grid-template-columns: 350px;
    }
    body{
        width: 350px;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}

* {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

p {
    max-height: 999999px;
}